@import "tailwindcss";
@tailwind utilities;


* {
  font-family: "Nunito Sans", sans-serif;
}

.radial-blue {
  background: radial-gradient(
    circle at center,
    #005CFF 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50%;
  filter: blur(50px);
}